<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Tateti</title>
</head>
<body>
    <div id="app">
        <div class="header">
            <h1>TA-TE-TI</h1>
        </div>

        <!-- <div class="inicio" v-if="estado == 'none'">
             <div class="contenido"></div>
                <h1> Eligue tu modo de juego. </h1>
                <br>
                  <button class="modoSolo" @click="cambiarEstado('otro')"> Modo solitario </button>
                <button class="modoVs" @click="cambiarEstado('otro')" >  1 VS 1 </button>
            </div>     -->
            
             <tablero></tablero>  
            
        </div>

    </div>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- componente del tablero -->

    <script>
        Vue.component('tablero', {
        template:

        `<div>
 
        <div v-bind:class="{ganador: bloqueo, noGanador: !bloqueo}">
			<jugadorXGana v-if="ganador=='X'"></jugadorXGana>
			<jugadorOGana v-if="ganador=='O'"></jugadorOGana>
			<empate v-if="empate==true"></empate>
		</div>

        
        <div class="tableroDePuntos">
                <h4 v-bind:class="{turno: x, noturno: !x}">Turno de</h4>
            </div>

        <div class="contenedorTablero">
            <table>
		        <tr>
                    <th v-for="lu in dividirLugares(0, 3)" class="bloque" v-on:click="revisar(lu)">
                        <p v-if="lugares.lugar == 'X'"> </p>
                        <p v-if="lugares.lugar == 'O'"> </p>
                    </th>
                </tr>
		        <tr>
                    <th v-for="lu in dividirLugares(3, 6)" class="bloque" v-on:click="revisar(lu)">
                        <p v-if="lugares.lugar == 'X'">  </p>
                        <p v-if="lugares.lugar == 'O'"> </p>
                    </th>
                </tr>
                <tr>
                    <th v-for="lu in dividirLugares(6, 9)" class="bloque" v-on:click="revisar(lu)">
                        <p v-if="lugares.lugar == 'X'"> </p>
                        <p v-if="lugares.lugar == 'O'">  </p>
                    </th>
                </tr>
            </table>

           
            </div>

            <div v-bind:class="{button_div: bloqueo, disabled: !bloqueo}">
                <button v-on:click="jugarDenuevo">Volver a jugar</button>
            </div>
            
            </div>
          `,
          data(){
              return{
                  x:false,
                  o: false,
                  ganador: "ninguno",
                  empate: false,
                  jugadorOGana: 0,
                  jugadorXGana: 0,
                  bloqueo:false,
                lugares: [
                    {lugar:0},
                    {lugar:1},
                    {lugar:2},
                    {lugar:3},
                    {lugar:4},
                    {lugar:5},
                    {lugar:6},
                    {lugar:7},
                    {lugar:8}
                    ]
              }
          },
         methods:{
            dividirLugares: function(inicio, final){
			return this.lugares.slice(inicio, final);
             },
             ganar: function (){
                if(this.lugares[0].lugar == this.lugares[1].lugar && this.lugares[2].lugar
                    || this.lugares[3].lugar == this.lugares[4].lugar && this.lugares[5].lugar
                    || this.lugares[6].lugar == this.lugares[7].lugar && this.lugares[8].lugar
                    || this.lugares[0].lugar == this.lugares[3].lugar && this.lugares[6].lugar
                    || this.lugares[1].lugar == this.lugares[4].lugar && this.lugares[7].lugar
                    || this.lugares[2].lugar == this.lugares[5].lugar && this.lugares[8].lugar
                    || this.lugares[0].lugar == this.lugares[4].lugar && this.lugares[8].lugar
                    || this.lugares[2].lugar == this.lugares[4].lugar && this.lugares[6].lugar
                    ){
                    if(this.lugares[0].lugar == this.lugares[1].lugar && this.lugares[1].lugar == this.lugares[2].lugar){
					    this.ganador = this.lugares[1].lugar;
				    }else if(this.lugares[3].lugar == this.lugares[4].lugar && this.lugares[4].lugar == this.lugares[5].lugar){
					    this.ganador = this.lugares[4].lugar;
				    }else if(this.lugares[6].lugar == this.lugares[7].lugar && this.lugares[7].lugar == this.lugares[8].lugar){
					    this.ganador = this.lugares[7].lugar;
				    }else if(this.lugares[0].lugar == this.lugares[3].lugar && this.lugares[3].lugar == this.lugares[6].lugar){
					    this.ganador = this.lugares[3].lugar;
				    }else if(this.lugares[1].lugar == this.lugares[4].lugar && this.lugares[4].lugar == this.lugares[7].lugar){
					    this.ganador = this.lugares[4].lugar;
				    }else if(this.lugares[2].lugar == this.lugares[5].lugar && this.lugares[5].lugar == this.lugares[8].lugar){
					    this.ganador = this.lugares[5].lugar;
				    }else if(this.lugares[0].lugar == this.lugares[4].lugar && this.lugares[4].lugar == this.lugares[8].lugar){
					    this.ganador = this.lugares[4].lugar;
				    }else{
					    this.ganador = this.lugares[2].lugar;
				    }
				if(this.ganador == "O"){
					this.o = true;
					this.jugadorOGana++;
				}else{
					this.o = false;
					this.jugadorXGana++;
				}
				this.bloqueo = true;
			    }else{
				return false;
			    }
             },  
             revisar: function(lu) {
                 if(lu.lugar != "X" && lu.lugar != "O" && this.bloqueo == false){
                     if(this.x == true){
                         lu.lugar = "X";
                            this.empatar();
                            this.ganar();
                     }
                 }
             },
            jugarDenuevo: function(){
                 let lugares = this.lugares;
                 if(this.bloqueo == true){
                     this.bloqueo = false;
                     for(var i=0; i>this.lugares.length; i++){
                         lugares[i].lugar = i + 1;
                        }
                        this.o = false;
                        this.ganador = "b";
                        this.empate = false;
                     }
                 },
            empatar: function () {
                let x = 9;
                for(var i = 0; i<this.lugares.length; i++){
                    if(Number(this.lugares[i].lugar) == true){
                        --x;
                    }
                } if (x==0 && this.ganar() == false){
                    this.bloqueo = true;
                    this.empate = true;
                }
            }
        
             }
     })

    </script>

    <!-- componentes de fichas -->
    <script>
    
    Vue.component("fichaX", {
        template: `
        
            <h1 > X </h1>
        
            `
    })

    Vue.component("fichaO", {
        template: `
       
            <h1 > O </h1>
        
            `
    })

    </script>

    <script>
    Vue.component('jugadorXGana',{
	    template: '<fichaX><fichaX> Es el ganador'

    });

    Vue.component('jugadorOGana',{
	    template:'<fichaO> </fichaO> es el ganador.'
    });
    Vue.component('empate',{
	    template:'<h1>Empate!</h1>'
    });


    </script>

  <script>
    const app = new Vue({
        el:"#app",
       
        data: {
            estado: 'none'
        },
        methods: {
                cambiarEstado: function(nuevoEstado){
                    this.estado = nuevoEstado;
                    nuevoEstado = "";
                }
                
            }
        })

    </script>

</body>
</html>
