<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Ta-te-ti</title>
</head>
<body>
    <div id="app">
        <div class="header">
            <h1>TA-TE-TI</h1>
        </div>

      <div class="inicio" v-if="estado === 'default' ">
             <div class="contenido" ></div>
                <h1> Elegí tu modo de juego. </h1>
                <br>
                <button class="modoSolo" @click="cambiarEstado('mostrarJuego')"> Solo mode </button>
                <button class="modoVs" @click="cambiarEstado('mostrarJuego')" >  1 VS 1 </button>
            </div>     
            
         <tablero v-if="estado === 'mostrarJuego'"></tablero>
            
        </div>

    </div>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        Vue.component('tablero', {
        template:`
        <div id="pantallaJuego">
            <button class="btn" @click="comenzarJuego"> Comenzar a jugar </button>
            <div id="cambiarTexto">
              <div class="turno" v-if="!fin">
                <h3>Es el turno de: </h3>
                <h2 v-if="esX">X</h2>
                <h2 v-if="!esX">O</h2>
              </div>
              <div  id="anuncioResultado">
                <h3> Ganador: </h3>
                <h2> {{ ganador }} </h2>
              </div>

            <div class="contenedorTablero">
                <table>       
                    <tr v-for="(row, rowKey) in tab">
                    <td v-for="(item, key) in row" v-on:click="function(){cambiarBloque(rowKey, key); resultadoGanador(rowKey, key)}">{{ item }}</td>
                    </tr>
                </table>
            </div>
            <br/>
            <button v-on:click="volverAJugar()">Volver a jugar</button>
            </div> 
        </div>
          `,
          data(){
              return{
                esX: true,
                ganador: "",
                fin:false,
                tab: [
                    [
                    "", "", ""
                    ],
                    [
                    "", "", ""
                    ],
                    [
                    "", "", ""
                    ]
                    ]
                }
            },
            methods: {
                cambiarBloque: function (rowKey, key) {
                    if(this.tab[rowKey] [key] === " " && !this.fin){
                    if(this.esX){
                    this.tab[rowKey] [key] = "X"
                    } else {
                            this.tab[rowKey] [key] = "O"
                    }
                    this.esX = !this.esX;
                    this.$forceUpdate();
                    }
                },
                comenzarJuego: function(){
                    this.tab = [[" "," ", " "],[" "," ", " "],[" "," ", " "]];
                    this.esX = true;
                    this.ganador = "";
                    this.fin = false;
                },
                volverAJugar: function(){
                    location.reload();
                },
                resultadoGanador: function (rowKey, key){
                    let tablero = this.tab;
                    let fila = tablero[rowKey];
                    if (fila[0] === fila[1] && fila[1] === fila[2]) {
                        this.ganador = fila[0];
                    } else
                    if (tablero[0][key] === tablero[1][key] && tablero[1][key] === tablero[2][key]){
                        this.ganador = tablero[0][key];
                    } else
                    if (tablero[0][0] === tablero[1][1] && tablero[1][1] === tablero[2][2]){
                        this.ganador = tablero[0][0];
                    }else if (tablero[2][0] === tablero[1][1] && tablero[1][1] === tablero[0][2]) {
                        this.ganador = tablero[2][0];
                    } else if (this.ganador == " " ) {
                    this.ganador = "No hay, es empate."
                    }
                }
            } 
        })

    
    const app = new Vue({
        el:"#app",
        data:{
            estado: 'default' 
            },
        methods: {
            cambiarEstado: function (nuevoEstado){
                this.estado = nuevoEstado;
                nuevoEstado = "";
            }
        }
    })

    </script>

</body>
</html>
