*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

.header{
    font-size: 35px;
    background: #ce6868;
    color:white;
}

.inicio  {
    background-color: rgb(197, 89, 105);
    margin-top: 20px;
    height: 400px;
    width:40%;
    border-radius: 5%;
    color: white;
    display: inline-block;
} 

.contenido{
    color: white;
   margin-top: 16%;
   font-size: 35px;
   font-weight: bold;
}

.modoSolo, .modoVs, .repetirJuego{
    padding: 20px;
    border-radius: 3%;
    border: none;
    cursor: pointer;
    font-size: 23px;
    margin: 4px 0 0 4px;
}


.celda{
    display: inline-block;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    background: white;
    cursor: pointer;
}

.fila:first-child{
    margin-top: 45px;    
}

.resultados{
    margin-top: 25%;
}
