*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

.header{
    font-size: 35px;
    background: #ce6868;
    color:white;
    margin-bottom: 20px;
}

.contenedorTablero {
    margin-top: 50px;
    height: 50%;
    width: 30%;
    border-radius: 5%; 
    display: inline-flex;
    justify-content: center;
   
} 

.contenido{
    color: white;
   margin-top: 16%;
   font-size: 35px;
   font-weight: bold;
}

.modoSolo, .modoVs, .repetirJuego{
    padding: 20px;
    border-radius: 3%;
    border: none;
    cursor: pointer;
    font-size: 23px;
    margin: 4px 0 0 4px;
}

table{
    position: relative;
    top:50%;
    cursor: pointer;
  
    
   
}

th{
    width:100px;
    height: 100px;
    
}

table {
    border-collapse: collapse;
  }
  table td, table th {
    border: 5px solid #f08a8a;
  }
  table tr:first-child th {
    border-top: 0;
  }
  table tr th:first-child {
    border-left: 0;
  }
  table tr th:last-child {
    border-right: 0;
  }
  table tr:last-child th{
    border-bottom: 0;
  }

.turno{
	color: #af7b7b;
    display: inline;
    padding: 30px;

}
.noturno{
	color: #d68577;
    display: inline;
    padding: 30px;
}

